<div @click.stop="closeLightBox">
  <div
    class="vue-lb-container"
    v-show="lightBoxOn"
    v-if="images && images.length > 0"
    ref="container"
  >
    <div class="vue-lb-content">
      <div class="vue-lb-header">
        <span></span>
        <button 
        type="button" 
        :title="closeText" 
        class="vue-lb-button-close" 
        v-if="closable"
        >
          <slot name="close">
            <span>
              <svg fill="white" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;">
                <path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"></path>
              </svg>
            </span>
          </slot>
        </button> <!-- .vue-lb-button-close -->

      </div> <!-- .vue-lb-header -->
      <div 
        class="vue-lb-figure"
        @click.stop
      >
        <transition 
          mode="out-in" 
          name="fade"
        >
          <img
            v-if="!images[select].type"
            :key="images[select].src"
            :src="images[select].src"
            :srcset="images[select].srcset || ''"
            class="vue-lb-modal-image"
            :alt="images[select].caption"
          >
          <slot
            v-else
            name="video"
            :sources="images[select].sources"
          >
            <video
              controls
              ref="video"
            >
              <source
                v-for="source in images[select].sources"
                :src="source.src"
                :type="source.type"
              />
            </video>
          </slot>

        </transition>

        <slot name="customCaption">
          <div
            class="vue-lb-info"
            v-html="images[select].caption"
            v-show="showCaption"
          ></div>
        </slot>

        <div class="vue-lb-footer">
          <div class="vue-lb-footer-info"></div>
          <div class="vue-lb-footer-count">
            <slot name="footer"
              :current="select + 1"
              :total="images.length"
            >
              {{ select + 1 }} / {{ images.length }}
            </slot>
          </div> 
        </div> 

      </div> 
    </div> <!-- .vue-lb-content -->
    <div class="vue-lb-thumbnail-wrapper">
    <div v-if="showThumbs" class="vue-lb-thumbnail">
      <button 
        v-if="images.length > 1"
        type="button" 
        class="vue-lb-thumbnail-arrow vue-lb-thumbnail-left" 
        :title="previousThumbText"
        @click.stop="previousImage()"
      >
        <slot name="previousThumb">
          <span>
            <svg fill="white" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 512 512">
              <path d="M213.7,256L213.7,256L213.7,256L380.9,81.9c4.2-4.3,4.1-11.4-0.2-15.8l-29.9-30.6c-4.3-4.4-11.3-4.5-15.5-0.2L131.1,247.9 c-2.2,2.2-3.2,5.2-3,8.1c-0.1,3,0.9,5.9,3,8.1l204.2,212.7c4.2,4.3,11.2,4.2,15.5-0.2l29.9-30.6c4.3-4.4,4.4-11.5,0.2-15.8 L213.7,256z"></path>
            </svg>
          </span>
        </slot>
      </button>

      <div 
        v-for="(image, index) in imagesThumb" 
        :key="typeof image.thumb === 'string' ? `${image.thumb}${index}` : index"
        :class="'vue-lb-modal-thumbnail' + (select === index ? '-active' : '')" 
        v-lazy:background-image="image.thumb"
        v-show="index >= thumbIndex.begin && index <= thumbIndex.end"
        @click.stop="showImage(index)"
      >
        <slot v-if="image.type" name="videoIcon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 271.953 271.953" style="enable-background:new 0 0 271.953 271.953; margin: 12px" xml:space="preserve">
            <g>
              <g>
                <path style="fill:#fff;" d="M135.977,271.953c75.097,0,135.977-60.879,135.977-135.977S211.074,0,135.977,0S0,60.879,0,135.977    S60.879,271.953,135.977,271.953z M250.197,135.977c0,62.979-51.241,114.22-114.22,114.22s-114.22-51.241-114.22-114.22    s51.241-114.22,114.22-114.22S250.197,72.998,250.197,135.977z"/>
                <path style="fill:#fff;" d="M112.295,205.031c2.692,1.115,5.434,1.659,8.235,1.659c5.662,0,11.183-2.208,15.344-6.375    l48.93-48.952c8.496-8.496,8.485-22.273-0.011-30.769l-48.957-48.952c-4.161-4.161-9.73-6.375-15.393-6.375    c-2.801,0-5.461,0.544-8.153,1.659c-8.126,3.367-13.255,11.297-13.255,20.097v97.903    C99.034,193.729,104.164,201.664,112.295,205.031z M120.791,88.613v-1.588l48.952,48.952l-48.952,48.952V88.613z"/>
              </g>
            </g>
          </svg>
        </slot>
      </div>

      <button 
        v-if="images.length > 1"
        type="button" 
        class="vue-lb-thumbnail-arrow vue-lb-thumbnail-right" 
        :title="nextThumbText" 
        @click.stop="nextImage()"
      >
        <slot name="nextThumb">
          <span>
            <svg fill="white" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 512 512">
              <path d="M298.3,256L298.3,256L298.3,256L131.1,81.9c-4.2-4.3-4.1-11.4,0.2-15.8l29.9-30.6c4.3-4.4,11.3-4.5,15.5-0.2l204.2,212.7 c2.2,2.2,3.2,5.2,3,8.1c0.1,3-0.9,5.9-3,8.1L176.7,476.8c-4.2,4.3-11.2,4.2-15.5-0.2L131.3,446c-4.3-4.4-4.4-11.5-0.2-15.8 L298.3,256z"></path>
            </svg>
          </span>
        </slot>
      </button>
    </div> <!-- .vue-lb-thumbnail -->
    </div>
    <button 
      v-if="images.length > 1"
      type="button" 
      class="vue-lb-arrow vue-lb-left" 
      :title="previousText" 
      @click.stop="previousImage()"
    >
      <slot name="previous">
        <span>
          <svg fill="white" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 512 512">
            <path d="M213.7,256L213.7,256L213.7,256L380.9,81.9c4.2-4.3,4.1-11.4-0.2-15.8l-29.9-30.6c-4.3-4.4-11.3-4.5-15.5-0.2L131.1,247.9 c-2.2,2.2-3.2,5.2-3,8.1c-0.1,3,0.9,5.9,3,8.1l204.2,212.7c4.2,4.3,11.2,4.2,15.5-0.2l29.9-30.6c4.3-4.4,4.4-11.5,0.2-15.8 L213.7,256z"></path>
          </svg>
        </span>
      </slot>
    </button>

    <button 
      v-if="images.length > 1"
      type="button" 
      class="vue-lb-arrow vue-lb-right" 
      :title="nextText" 
      @click.stop="nextImage()"
    >
      <slot name="next">
        <span>
          <svg fill="white" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 512 512" xml:space="preserve">
            <path d="M298.3,256L298.3,256L298.3,256L131.1,81.9c-4.2-4.3-4.1-11.4,0.2-15.8l29.9-30.6c4.3-4.4,11.3-4.5,15.5-0.2l204.2,212.7 c2.2,2.2,3.2,5.2,3,8.1c0.1,3-0.9,5.9-3,8.1L176.7,476.8c-4.2,4.3-11.2,4.2-15.5-0.2L131.3,446c-4.3-4.4-4.4-11.5-0.2-15.8 L298.3,256z"></path>
          </svg>
        </span>
      </slot>
    </button>
  </div> <!-- .vue-lb-container --> 
</div>
